@page
@model QuizApp.Pages.IndexLoggedModel
@{
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> userManager

<div class="text-center">
    @if(SignInManager.IsSignedIn(User))
    {
       <h1 class="display-6">Hello @userManager.GetUserId(User)!</h1>        
       <h1 class="display-6">Hello @User.Identity.Name!</h1>        

    }
    <h1 class="display-4">Welcome to Country Shape Quiz</h1>
    <p>Select the correct names of 5 randomly selected countries or territories based on their shapes </p>
    <form class="questions" method="post">

    <input class="btn btn-primary" type="submit" value="Start Quiz!" asp-page-handler="Submit"/>
    </form>

</div>