@page
@model QuizApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">

    <h1 class="display-4">Welcome to Country Shape Quiz</h1>
    <p>Select the correct names of 5 randomly selected countries or territories based on their shapes </p>
    


</div>

