@page
@model QuizApp.Pages.Countries.IndexModel
@{
    ViewData["Title"] = "Home page";
}



    <form class="questions" method="post">

    <input type="submit" value="Start Quiz!" asp-page-handler="Submit"/>
    </form>


</div>

