@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="buffer"></div>
<p class="display-6">Made by Julia Kisielewicz </p>
<p class=""><a href="https://github.com/juliakisielewicz">https://github.com/juliakisielewicz</a>
<br><br>
Resources:
<br>
Country images: <a href="https://github.com/djaiss/mapsicon">https://github.com/djaiss/mapsicon</a></p>
