html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.answers {
    width: 300px;
    text-align: left;
    margin: 0 auto;
    border: solid 2px black;
}